body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../images/building.jpg');
    background-size: cover;
}

#reset{
    border:solid 0.5px #cfcfcf;
    border-radius: 10px;
    padding: 15px;
    width: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 10px #cfcfcf;
    background-color: rgb(0,0,0,0.7);
}

#reset h6, label, h4{
    color: #fff;
}